* {
    font-family: monospace;
    color: ghostwhite;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.head-container {
    background-color: black;
    background-image: radial-gradient(
        rgba(50, 50, 50, 0.75), black 120%
      );
    height: 25vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid gray;
}

.term-name {
    font-size: 50px;
    padding: 2%;
    word-spacing: -20px;
    position: relative;
    bottom: 25%;
}

.blinking-cursor {
    content: "";
    width: 10px;
    height: 40px;
    margin-top: 50px;
    background: #ffffff;
    display: inline-flex;
    position: relative;
    top: 5px;
    animation: cursor-blink 1.5s steps(2) infinite;  
}

.img-container {
    border: 2px solid;
    width: 100px;
    height: 100px;
    display: inline-flex;
    position: relative;
    left: 50vw;
    top: 5vh;
    font-size: 25%;
}

.nav-container {
    position: relative;
    width: 100vw;
    top: 50%;
    display: block;
    text-align: justify;
}

ul {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

li {
    list-style: square;
    display: inline-block;
}

@keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }